// Typography

// Flexbox

@mixin flexible($axis-x, $axis-y, $direction, $wrap) {
    display: flex;
    justify-content: $axis-x;
    align-items: $axis-y;
    flex-direction: $direction;
    flex-wrap: $wrap;
}  

// Logo elements positioning 

@mixin logo-elem-position($position, $width, $layer) {
    right: $position;
    width: $width;
    z-index: $layer;
}

// Buttons 

@mixin sign-in-btn($padding, $margin, $font) {
    background-color: $blue;
    border: none;
    border-radius: 5px;
    color: white;
    padding: $padding;
    margin-left: $margin;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    display: inline-block;
    font-size: $font;
    cursor: pointer;
}

@mixin transparent-btn($padding, $margin, $font) {
    background-color: transparent;
    border: 1px solid $aquamarine;
    border-radius: 5px;
    color: $aquamarine;
    padding: $padding;
    margin: $margin;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    display: inline-block;
    font-size: $font;
    cursor: pointer;
}

// Article title

@mixin article-title($size) {
    font-size: $size;
    font-weight: 600;
    color: $light-blue;
}

// Background gradient

@mixin background-gradient($direction) {
    background: linear-gradient($direction, $gradient-dark-blue,
    $gradient-light-blue);
  }

//Adaptiveness

// small devices
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
}
 
 // medium devices
 @mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
}
 
 // large devices
 @mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
}
 
 // extra large devices
 @mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
}

 // custom devices
@mixin rwd($screen) {
    @media (min-width: $screen+'px') {
        @content;
    }
}