.applicants {
  margin-left: 1.5em;
  padding-top: 2em;
  background: url(../img/main/aquamarine-polka-dot.svg) no-repeat;
  background-position: top 10px right;
  background-size: calc(15px + 15vw);

  @include md {
    background-size: 130px;
  }

  @include lg {
    background-position: top right;
    background-size: 120px;
  }

  &__title {
    @extend .mentors__title;

    @include md {
      padding-right: 1em;
    }

    @include lg {
      margin-bottom: 101px;
      padding-top: .5em;
    }
  }

  &__requirements {
    margin-left: 0.5em;
  }

  &__requirements-title,
  &__requirements-descr {
    @extend .mentors__commentary;
  }

  &__requirements-title {
    position: relative;
    margin-bottom: 8px;
    font-weight: 700;
    color: $light-grey;

    &::before {
      content: "";
      position: absolute;
      top: 5px;
      left: -8px;
      display: block;
      height: 5px;
      width: 5px;
      border-radius: 50%;
      background-color: $aquamarine;
    }
  }

  &__requirements-descr {
    max-width: 390px;
    margin: 0 1.5em 24px 0;
    font-weight: 400;
    color: $dark-grey;

    &:nth-child(n + 5) {
      margin-bottom: 0;
    }
  }
}
