.chat {
  @include flexible (flex-start, center, column, nowrap);
  margin: 90px 0.5em 80px 0.5em;

  @include md {
    margin-bottom: 120px;
  }

  &__copy {
    width: 19em;
    margin: 0 auto 2em auto;
    font-size: calc(10px + 1.4vw);
    font-weight: 400;
    color: $white;
    text-align: center;

    @include md {
      font-size: 20px;
    }
  }

  &__btn {
    @include transparent-btn(15px 2.1em 15px 3.1em, 0, calc(10px + 1.3vw));

    @include md {
      @include transparent-btn(15px 2.1em 15px 3.1em, 0, 20px);
    }
  }

  &__btn--telegram {
    background: url(../img/main/telegram-icon.svg) no-repeat;
    background-size: 10%;
    background-position: left 1.5em center;

    @include md {
      background-size: 24px;
    }
  }
}
