.its-free {
  @include flexible(center, center, column, nowrap);
  margin-bottom: 112px;

  &__main {
    width: 100%;

    @include lg {
      @include flexible(center, center, row, nowrap);
    }
  }

  &__copy-btn-container {
    @include flexible(center, center, column, nowrap);
    position: relative;
    margin: 0 24px;

    @include lg {
      width: 50%;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      display: block;
      height: 100%;
      background: url(../img/main/blue-polka-dot.svg) no-repeat;
      background-size: contain;

      top: -30px;
      width: 50px;

      @include sm {
        top: -50px;
        width: 4em;
      }

      @include md {
        width: 5em;
      }

      @include lg {
        top: -37px;
        height: 109px;
        width: 91px;
      }
    }
  }

  &__title {
    @extend .mentors__title;

    margin-bottom: 48px;
    align-self: center;
  }

  &__dots {
    grid-area: dots;
    width: 100%;
    height: 100%;
    background: url(../img/main/blue-polka-dot.svg) no-repeat;
    background-size: 100%;
    background-position: left bottom 2em;

    @include sm {
      background-size: 90%;
    }

    @include md {
      background-size: 109px;
    }

    @include lg {
      background-position: left -20px top;
      background-size: 90px;
    }
  }

  &__yes {
    margin-bottom: 24px;
    font-size: calc(10px + 3vw);
    font-weight: 400;
    color: $white;

    @include md {
      font-size: 32px;
    }
  }

  &__subtitle {
    margin-bottom: 40px;
    font-size: calc(10px + 1.9vw);
    font-weight: 400;
    color: $white;
    text-align: center;

    @include md {
      font-size: 24px;
    }

    @include lg {
      align-self: center;
      max-width: 400px;
    }
  }

  &__btn-container{
    @include flexible(center, center, column, nowrap);
    gap: 9px;
    width: 100%;
    margin-bottom: 90px;

    @include sm {
      flex-direction: row;
    }

    @include lg {
      flex-direction: column;
    }
  }

  &__curriculum-btn {
    @include transparent-btn(17px 1em 17px 1em, 0, calc(10px + 1.3vw));
    width: 100%;
    max-width: 319px;

    @include sm {
      margin: 0;
    }

    @include md {
      font-size: 20px;
    }

    @include lg {
      max-width: 428px;
      margin: 0;
    }
  }

  &__subscr-btn {
    @include sign-in-btn(19px 2.5em 19px 2.5em, 0, calc(10px + 1.3vw));
    width: 100%;
    max-width: 319px;

    @include md {
      font-size: 20px;
    }

    @include lg {
      max-width: 428px;
    }
  }

  &__video {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;

    background: url(../img/main/thumbnail.png) 65% no-repeat;
    background-size: cover;
    background-position: top;

    @include md {
      height: 517px;
    }

    @include lg {
      justify-self: end;
      height: 474px;
      width: 50%;
      max-width: 682px;
    }
  }
}
