.main__mentors-applicants-container {
    margin: 66px 0 0 0;

    @include md {
        margin: 120px 0 0 60px;
    }

    @include lg {
        @include flexible(space-between, flex-start, row, nowrap);
        margin: 66px 0 0 0;
    }
}
