.main__mentors-applicants-container {
    margin: 66px 0 0 0;

    @include md {
        margin: 120px 0 0 60px;
    }

    @include lg {
        @include flexible(space-between, flex-start, row, nowrap);
        margin: 66px 0 0 0;
    }
}

// Mentors

.mentors {
    margin: 0 1.5em 3em 1.5em;

    @include md {
        margin-right: 80px;
    }

    @include lg {
        width: 50%;
        margin: 3.5em 0 0 30px;
    }

    &__title {
        margin-bottom: 40px;
        @include article-title(calc(10px + 5vw));
        text-align: center;

        @include md {
            font-size: 48px;
        }

        @include lg {
            font-size: 52px;
            text-align: left;
        }
    }

    &__subtitle {
        margin-bottom: 16px;
        font-size: calc(10px + 1.3vw);
        font-weight: 300;
        color: $light-grey;

        @include md {
            font-size: 20px;
        }
    }

    &__subtitle span {
        font-weight: 500;
    }

    &__n-of-commentaries {
        display: block;
        font-size: calc(10px + 0.8vw);
        color: $aquamarine;
        text-align: right;

        @include md {
            font-size: 16px;
        }
    }

    &__commentary-container {
        @include flexible(space-between, flex-start, column, nowrap);

        margin: 8px 0 0 0;
        padding: 1em;
        background-color: $gradient-light-blue;

        @include sm {
            flex-direction: row;
        }

        @include md {
            padding-bottom: 2em;
        }

        @include lg {
            @include background-gradient(to right);
        }
    }

    &__photo {
        flex-shrink: 0; // Firefox sets it to 1 unless explicitly expressed that is must be 0
        width: 50%;

        @include sm {
            width: 26%;
        }

        @include md { 
            width: 177px;
        }
    }

    &__text-container {
        @include sm {
            margin-left: 13px;
        }
    }

    &__name {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: calc(10px + 1.6vw);
        font-weight: 500;
        color: $light-grey;

        @include sm {
            margin-top: 0;
        }

        @include md {
            font-size: 24px;
        }
    }

    &__competence {
        margin-bottom: 12px;
        @extend .mentors__n-of-commentaries;
        text-align: left;
    }

    &__commentary {
        @extend .mentors__competence;
        font-weight: 300;
        color: $white;
    }
}

// Applicants

.applicants {
    margin-left: 1.5em;
    padding-top: 2em;
    background: url(../img/main/aquamarine-polka-dot.svg) no-repeat;
    background-position: top 10px right;
    background-size: calc(15px + 15vw);

    @include md {
        background-size: 130px;
    }

    @include lg {
        background-position: top right;
        background-size: 120px;
    }

    &__title {
        @extend .mentors__title;

        @include md {
            padding-right: 1em;
        }

        @include lg {
            margin-bottom: 101px;
            padding-top: .5em;
        }
    }

    &__requirements {
        margin-left: 0.5em;
    }

    &__requirements-title,
    &__requirements-descr {
        @extend .mentors__commentary;
    }

    &__requirements-title {
        position: relative;
        margin-bottom: 8px;
        font-weight: 700;
        color: $light-grey;

        &::before {
            content: "";
            position: absolute;
            top: 5px;
            left: -8px;
            display: block;
            height: 5px;
            width: 5px;
            border-radius: 50%;
            background-color: $aquamarine;
        }
    }

    &__requirements-descr {
        max-width: 390px;
        margin: 0 1.5em 24px 0;
        font-weight: 400;
        color: $dark-grey;

        &:nth-child(n + 5) {
            margin-bottom: 0;
        }
    }
}

// Requirements

.requirements {
    background: url(../img/main/blue-stripes.svg) no-repeat;
    background-size: 10%;
    background-position: top 2em left;

    @include md {
        background-size: 80px;
    }

    &__title {
        margin: 3em 0 1em 0;
        @extend .mentors__title;
        text-align: center;
    }

    /* Grid is used here to make all cards be of an equal height 
    without explicitly stating the height, either way they would
    take the height of its content */ 
    &__cards-container {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 10px;
        margin-left: 1.5em;
        overflow: auto;

        @include md {
            margin-left: 30px;
        }

        @include rwd(1378) {
            margin: 0 30px;
        }
    }

    &__card {
        grid-column: 1;
        min-width: 60vw;
        padding: 1em;
        @include background-gradient (to left);

        @include sm {
            min-width: 42vw;
        }

        @include lg {
            min-width: 426px;
        }
    }

    &__card:nth-of-type(2) {
        grid-column: 2;
        
        & .requirements__card-item {
            margin-bottom: 1em;
        }
    }

    &__card:nth-of-type(3) {
        grid-column: 3;
        margin-right: 1em;
        
        & .requirements__card-item {
            margin-bottom: 1em;
        }
    }

    &__card-title {
        margin-bottom: 20px;
        @extend .mentors__name;
    }

    &__card-copy {
        @extend .mentors__commentary;
        font-weight: 500;
    }

    /* I'm using a modifier here as it is more specific
    and with it I can target only the first <ul> that is 
    inside of this particular card in no dependance on 
    its position in relation to other cards */
    &__card--with-copy { 

        & .requirements__card-list:first-of-type {
            margin-bottom: 20px;
        }
    }

    &__card-item {
        @extend .applicants__requirements-title;
        margin: 0 0.7em 0.4em 0.5em;
        font-weight: 300;

        &::before {
            background-color: #64B5F6;
        }
    }
}

// Chat

.chat {
    @include flexible (flex-start, center, column, nowrap);
    margin: 90px 0.5em 80px 0.5em;

    @include md {
        margin-bottom: 120px;
    }

    &__copy {
        width: 19em;
        margin: 0 auto 2em auto;
        font-size: calc(10px + 1.4vw);
        font-weight: 400;
        color: $white;
        text-align: center;

        @include md {
            font-size: 20px;
        }
    }

    &__btn {
        @include transparent-btn(15px 2.1em 15px 3.1em, 0, calc(10px + 1.3vw));

        @include md {
            @include transparent-btn(15px 2.1em 15px 3.1em, 0, 20px);
        }
    }

    &__btn--telegram {
        background: url(../img/main/telegram-icon.svg) no-repeat;
        background-size: 10%;
        background-position: left 1.5em center;

        @include md {
            background-size: 24px;
        }
    }
}

// It's free 

.its-free {
    display: grid;

    grid-template:  "dots title title ." 
                    "dots yes yes ." 
                    "dots subtitle subtitle ." 
                    "curr curr curr curr"
                    "sub sub sub sub" 
                    "video video video video";
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 5.5em 3em 3em 5em 6em;
    justify-items: center;
    align-items: center;

    @include sm {
        grid-template:  "dots title title ." 
                        "dots yes yes ." 
                        "dots subtitle subtitle ." 
                        "curr curr sub sub" 
                        "video video video video";
        grid-template-columns: 1fr 2fr 2fr 1fr;
        grid-template-rows: 6em 4em 6em 7em ;
        justify-items: center;
        align-items: center;              
    }

    @include lg {
        grid-template: "title title title"
                       "dots yes video"
                       "subtitle subtitle video"
                       "sub sub video"
                       "curr curr video";
        grid-template-columns: .8fr 1fr 2.6fr;
        grid-template-rows: 112px 5em 6em 5em;
    }

    &__title {
        @extend .mentors__title;

        grid-area: title;
        margin-bottom: 0;
        align-self: start;
        
        @include lg {
            justify-self: start;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__dots {
        grid-area: dots;
        width: 100%;
        height: 100%;
        background: url(../img/main/blue-polka-dot.svg) no-repeat;
        background-size: 100%;
        background-position: left top 2em;

        @include sm {
            background-size: 90%;
        }

        @include md {
            background-size: 109px;
        }

        @include lg {
            background-size: 50%;
        }
    }

    &__yes {
        grid-area: yes;
        align-self: start;
        font-size: calc(10px + 3vw);
        font-weight: 400;
        color: $white;

        @include md {
            font-size: 32px;
        }

        @include lg {
            align-self: end;
            justify-self: start;
        }
    }

    &__subtitle {
        grid-area: subtitle;
        align-self: start; 

        font-size: calc(10px + 1.9vw);
        font-weight: 400;
        color: $white;
        text-align: center;

        @include md {
            font-size: 24px;
        }

        @include lg {
            align-self: center;
            max-width: 400px;
            margin: 0 1em;
        }
    }

    &__curriculum-btn {
        grid-area: curr;

        @include transparent-btn(15px 1em 15px 1em, 0, calc(10px + 1.3vw));

        @include sm {
            align-self: start;
            justify-self: stretch;
            margin: 0 .3em 0 3em;
        }

        @include md {
            justify-self: end;
            padding: 15px 72px;
            font-size: 20px;
        }

        @include lg {
            justify-self: center;
            margin: .7em 0 0 0;
        }
    }

    &__subscr-btn {
        grid-area: sub;
        align-self: start;

        @include sign-in-btn(17px 2.5em 17px 2.5em, 0, calc(10px + 1.3vw));

        @include sm {
            justify-self: stretch;
            margin: 0 3em 0 .3em;
        }

        @include md {
            justify-self: start;
            padding: 17px 102px;
            font-size: 20px;
        }

        @include lg {
            align-self: end;
            justify-self: center;
            margin: 0 auto;
        }
    }

    &__video {
        grid-area: video;
        justify-self: stretch;

        display: flex;
        justify-content: center;
        align-items: center;

        background: url(../img/main/thumbnail.png) 65% no-repeat;
        background-size: cover;
        background-position: top;

        @include md {
            height: 517px;
        }

        @include lg {
            justify-self: end;
            height: 474px;
            max-width: 682px;
            min-width: 100%;
        }
    }    
}