.nav {
    position: sticky;
    z-index: 99;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 48px;
    background-color: $black;

    &__wrap {
        @include flexible(space-between, center, row, nowrap);
        max-width: 1366px;
        margin: 0 auto;
    }

    &__logo {
        @include flexible (center, center, row, nowrap);
        height: 100%;
        font-family: 'Work Sans', sans-serif;
        font-size: 20px;
        line-height: 48px;
    }

    &__logo-item {
        position: relative;
        display: block;
        height: 100%;
        width: 20px;
        text-transform: capitalize;
        border-right: 1px solid $white;
        background-color: $black;
        color: $white;
        
        &:nth-child(1) {
            height: 48px;
            @include logo-elem-position(1px, 15px, 11);
        }

        &:nth-child(2) {
            @include logo-elem-position(4px, 18px, 10);
        }

        &:nth-child(3) {
            right: 8px;
            z-index: 9;
        }

        &:nth-child(4) {
            @include logo-elem-position(11px, 18px, 8);
        }

        &:nth-child(5) {
            @include logo-elem-position(11px, 15px, 7);
        }

        &:nth-child(6) {
            @include logo-elem-position(15px, 19px, 6);
        }

        &:nth-child(7) {
            @include logo-elem-position(18px, 18px, 5);
        }

        &:nth-child(8) {
            @include logo-elem-position(21px, 18px, 4);
        }

        &:nth-child(9) {
            @include logo-elem-position(24px, 18px, 3);
        }

        &:nth-child(10) {
            @include logo-elem-position(27px, 18px, 2);
        }

        &:nth-child(11) {
            @include logo-elem-position(29px, 17px, 1);
        }
    }

    &__burger {
        position: relative;
        height: 3px;
        width: 30px;
        margin: 0 20px 10px 0;
        background-color: $aquamarine;

        @include md {
            display: none;
        }

        &::after {
            content: "";
            position: absolute;
            top: 10px;

            @extend .nav__burger;
        }
    }

    &__list {
        display: none;

        @include md {
            display: block;
            height: 48px;
            margin-right: 20px;
        }
    }

    &__link {
        position: relative;
        margin: 0 1em;
        font-size: 18px;
        font-weight: 400;
        line-height: 48px;
        color: $dark-grey;

        @include lg {
            margin: 0 1.5em;
        }

        &:hover {
            font-weight: 500;
            color: $aquamarine;
        }

        &:hover::after {
            content: "";
            position: absolute;
            top: 30px;
            left: -3px;
            display: block;
            height: 3px;
            width: calc(100% + 5px);
            background-color: $aquamarine;

            @include lg {
                width: calc(100% + 44px);
                left: -22px;
            }
        }
    }
}

