.reviews {
  margin: 0 32px 92px;

  &__title {
    @extend .mentors__title;
    margin: 1em;
    text-align: center;
  }

  &__n-of-reviews {
    @extend .mentors__n-of-commentaries;
    margin-bottom: 8px;
  }

  &__wrap {
    position: relative;
  }

  &__review-container {
    align-self: stretch;
    max-width: 428px;
    padding: 24px 24px 40px 24px;
    @include background-gradient(to top right);
  }

  &__name {
    @extend .mentors__name;
  }

  &__date,
  &__season {
    @extend .mentors__commentary;
    display: inline-block;
    width: 50%;
    margin: 8px 0 24px 0;
    color: $light-blue;
  }

  &__season {
    text-align: right;
  }

  &__copy {
    @extend .mentors__commentary;
  }

  &__slider-prev,
  &__slider-next {
    top: 50%
  }

  &__add-review-container {
    width: 100%;
  }

  &__question {
    @extend .chat__copy;
    width: 100%;
    margin: 32px 0 24px;
    text-align: center;

    @include md {
      text-align: left;
    }
  }

  &__add-review-btn {
    @include transparent-btn(1em 1em 1em 2em, 0 auto, calc(10px + 1.3vw));
    display: block;

    background: url(../img/main/chat-icon.svg) no-repeat left 10px center;
    background-size: 10%;

    @include md {
      @include transparent-btn(18px 13px 18px 50px, 0, 20px);
      background-size: 24px;
      background-position-x: 18px;
    }
  }
}
