@import './config/normalize';
@import './config/variables';
@import './config/mixins';
@import './config/baseLayout';

@import './components/nav';
@import './components/header';
@import './components/main';
