html {
    font-family: Lato;
    background-color: $dark-blue;
}

.wrap {
    max-width: 1366px;
    margin: 0 auto;
}

.play-btn {
    position: relative;
    background-color: rgba($color: #000000, $alpha: 0.6);
    border: none;
    color: white;
    padding: 25px;
    margin: 9em 0;
    border: 1px solid #ECEAEA;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    display: inline-block;
    cursor: pointer;

    &::after {
        content: "";

        position: absolute;
        right: 12px;
        top: 15px;

        display: block;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-left: 20px solid #ECEAEA;
        border-bottom: 10px solid transparent;
    }
}

@font-face {
    font-family: Lato;
    src: url('../fonts/Lato-Hairline.ttf');
    font-weight: 100;
}

@font-face {
    font-family: Lato;
    src: url("../fonts/Lato-Thin.ttf");
    font-weight: 200;
}

@font-face {
    font-family: Lato;
    src: url("../fonts/Lato-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: Lato;
    src: url("../fonts/Lato-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: Lato;
    src: url("../fonts/Lato-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: Lato;
    src: url("../fonts/Lato-Semibold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: Lato;
    src: url("../fonts/Lato-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: Lato;
    src: url("../fonts/Lato-Heavy.ttf");
    font-weight: 800;
}

@font-face {
    font-family: Lato;
    src: url("../fonts/Lato-Black.ttf");
    font-weight: 900;
}
