html {
    font-family: Lato, sans-serif;
    background-color: $dark-blue;
}

.wrap {
    max-width: 1366px;
    margin: 0 auto;
    overflow: hidden;
}

.play-btn {
    position: relative;
    background-color: rgba($color: #000000, $alpha: 0.6);
    color: white;
    padding: 25px;
    margin: 9em 0;
    border: 1px solid #ECEAEA;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    display: inline-block;
    cursor: pointer;

    &::after {
        content: "";

        position: absolute;
        right: 12px;
        top: 15px;

        display: block;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-left: 20px solid #ECEAEA;
        border-bottom: 10px solid transparent;
    }
}

/*
removes height: 100%; on swiper slides,
which allows for slides to be of the same height
and not of it's content's height
*/

.swiper-slide {
    height: initial !important;
}
