// Colors -----------------------

$white: #FFFFFF;

$black: #05070B;
$dark-grey: #BABCC1;
$light-grey: #DCDDE0;

$blue: #004DE1;
$dark-blue: #181F2F;
$light-blue: #B2CCFF;

$aquamarine: #61ffd9;

$gradient-dark-blue: #1C2539;
$gradient-light-blue: #293957;

// Breakpoints --------------------

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;
